@font-face {
  font-family: CoSa;
  src: url(comic.ttf);
}
@font-face {
  font-family: MC;
  src: url(./fonts/Minecrafter.Reg.ttf);
}

    h2{
        text-shadow: 2px 2px 7px black;
        
    }
    h1{
        text-shadow: 2px 2px 7px black;
    }
    p{
        text-shadow: 2px 2px 7px black;
        
    }
    li{
        text-shadow: 2px 2px 7px black;
    }
    td{
        text-shadow: 2px 2px 7px black;
    }
    a{
        text-shadow: 2px 2px 7px black;
        color: aquamarine;
    }
    .container {
        display:flex;
        flex-direction: row;
        flex: 1;
        
    }
    main {
        height: 100%;
    }

    * {
  box-sizing:border-box;
}
 @media only screen and (max-width: 980px) {
    .container div{ flex: 100%;}
    .container{ flex-direction: column;}
    body{width: 98%;display: block;margin: auto;margin: 0px;}
    * p{font-size:2vh ;padding: 4px;}
    * li{font-size:2vh ;padding: 4px;};
    * h1,* h2, * h3{font-size:4vh ;}
   img{
   padding: 10px; 
   }
   
   
}

   