@font-face {
    font-family: coolveccomp;
    src: url(./fonts/CoolveticaHvComp.otf);
}
@font-face {
    font-family: coolvec;
    src: url(./fonts/CoolveticaRg.otf);
}
body {
    margin: 0px;
    background: #000000;
    background: url(./media/bg.png), black;
    background-size:cover ;
    background-attachment:scroll;
    font-family: Arial, Helvetica, sans-serif;
        font-weight: 700;
}
.navbar > button > svg {
    fill: white;
    width: 4vh;
    min-width: 2rem;
    aspect-ratio: 1/1;
    margin-bottom: -0.6rem;


}
.navbar >  button  > p {
    color: white;
    font-size: 1rem;
     font-weight:900;
   
}
.navbar {
    background-color: rgba(88, 88, 88, 0.2);
    border-radius: 2em;
    position: sticky;
    margin-top: 1rem;
    display: flex;
    padding: 0.15rem;
    margin: 0.8rem;
    margin-left: auto;
    margin-right: auto;
    width: max-content;
    top:1em;
    z-index: 1000;
    max-width: 80rem;
    backdrop-filter: blur(10px);
    border-color:rgba(80, 80, 80, 0.241);
    border-width: 0.3rem;
    border-style: solid;
    box-shadow: 0 0 10px rgb(0, 0, 0);
}

.navbar > button {
    box-shadow: 0 0 5px rgb(0, 0, 0);
    aspect-ratio: 4/1;
    display: block;
    cursor: pointer;
    background: none;
    background-blend-mode: normal;
    border: solid 0.2rem rgba(49, 49, 49, 0.241);
    border-radius: 2em;
    margin: 0.2rem;
    padding: 0.3rem;
    line-height: 0.6rem;
    width: 12vw;
    padding-bottom: 0.5rem;
    text-align: center; 
            backdrop-filter: blur(10px);
}
.navbar > button.active {
        box-shadow: 0 0 20px rgb(255, 255, 255);
        backdrop-filter: blur(20px) ;
    background-color: rgba(255, 255, 255, 1);
      z-index: 1200;
}
.navbar > button:hover {
    box-shadow: 0 0 20px rgb(255, 255, 255);
        backdrop-filter: blur(20px);
    background-color:  rgba(255, 255, 255, 1);
    z-index: 1200;



}
.navbar > button:hover > svg{
fill: rgba(253, 145, 0, 1);

}
.navbar > button:hover > p{
   color:rgba(253, 145, 0, 1);
  


}
#gradient {
    background: linear-gradient(90deg,rgba(253, 145, 0, 1) 0%, rgba(253, 174, 0, 1) 50%, rgba(254, 214, 0, 1) 100%) ;
}
.imglogo {
    all :unset;
    max-width: 80%;
    display: block;
    width:50rem;
    margin: auto;
    margin-top: 5rem;
    
}
.gamecontainer {
    aspect-ratio: 16/9 !important;
    height: 80%;
    width: unset;

}
.flashcontainer {
    object-fit: contain !important;
    aspect-ratio: 4/3;
    height: 70%;
    display: block;
    margin: auto;
    margin-bottom: 2em;
}
.column {
    display: flex;
}
.column > .content-div {
    width: 50%;
}
.content-div{
    background-color: rgba(88, 88, 88, 0.2);
    border-radius: 2em;
    padding: 1em;
    margin: 3vw;
    box-shadow: 0 0 10px rgb(0, 0, 0);
    color: white;
    backdrop-filter: blur(10px);
    border-color:rgba(80, 80, 80, 0.241);
    border-width: 0.3rem;
    border-style: solid;
    padding-left: 1vw;
    padding-right: 1vw;
}

img, iframe, embed{
    background-color: rgba(88, 88, 88, 0.2);
    border-radius: 2em;
    display: block;
    margin: auto;
    margin-bottom: 1rem;
    box-shadow: 0 0 10px rgb(0, 0, 0);
    color: white;
    backdrop-filter: blur(10px);
    border-color:rgba(80, 80, 80, 0.241);
    border-width: 0.1rem;
    border-style: solid;
    padding: 0.42rem;
    max-width: 80%;
}
.collectiondiv:has(img) {
    width: 20vh;
}
.collectiondiv > img {
    width: 10vh;
}
.collectiondiv {
    line-height: normal;
}

.column > img {
width: 39%;
}

.column:has(img):only-child{
    width: 80%;
    margin: auto;
}
.nobg {
    backdrop-filter: none !important;
    background-color: none !important;
    background: none     !important;
    border-radius: 0    !important;
    display: block;
    margin: auto;
    margin-bottom: 1rem;
    box-shadow: none !important;
    color: white;
    border: none     !important;
    padding: 0     !important;
    max-width: 80%;
}
h1 {
    text-shadow: 0 0 5px rgb(0, 0, 0);
    margin-bottom: 1em;
    font-size: 2.5rem;
    line-height: 2.8rem;
        margin-left: auto;
    margin-right:auto ;
    text-align: left;
    display: block;
    max-width: 70%;
    font-family: 'Coolvec';
    font-weight: 400;
}
.content-div > p , li {
    font-size: 1.2em;
    line-height: 1.8em;
    max-width: 70%;
    margin: auto;
    text-align: left;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 700;
    text-shadow: 0 0 5px rgb(0, 0, 0);
}
p:has(li){
    width: 90%;
}
li {
    width: 90%;
    max-width: unset;

}
ol {
    padding: 0px;
}
.note {
        font-size: 0.8em;
    line-height: 1.2em;
    color: rgb(159, 159, 159);
    text-align: center;
    font-style: italic;
    max-width: 70%;
    margin: auto;
    text-align: left;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 800;
}
hr {
    border:none;
    margin: 2vw;
}
a {
    padding: 5px;
    color: gold;
    text-decoration: underline;
    transition: 0.1s;
}

a:hover {
    transition: 0.1s;
    color: white;
    text-decoration: underline;
    box-shadow: 0 0 5px gold;
    background: rgba(255, 217, 0, 0.849);
    border-radius: 0.1em;
    overflow-inline: clip;
    padding: 5px;
    backdrop-filter: blur(10px);
}
a:has(img){
    all:unset !important;
    cursor:pointer !important;
}
input { 
    border-radius: 2em;
    background-color: black;
        box-shadow: 0 0 10px rgb(0, 0, 0);
    color: white;
    backdrop-filter: blur(10px);
    border-color:rgba(80, 80, 80, 0.241);
    border-width: 0.3rem;
    border-style: solid;
    margin: 0.3rem;
    padding: 0.1rem;
    text-align: center;
    font-family: monospace;
    font-size: larger;

}
button, .collectiondiv {
    color: white;
    box-shadow: 0 0 5px rgb(0, 0, 0);
    display:block;
    cursor: pointer;
    background: none;
    background-blend-mode: normal;
    border: solid 0.2rem rgba(49, 49, 49, 0.241);
    border-radius: 2em;
    margin: 0.3rem;
    padding: 0.3rem;
    line-height: 0.2rem;
    text-align: center; 
            backdrop-filter: blur(10px);
}
button > svg , button > div > svg{
    fill: white;
    width: 2rem;
    aspect-ratio: 1/1;
    margin: 0.05rem;
    
}
button  > p , button > div > p{
    color: white;
    font-size: 1.5rem;
     font-weight:900;
   
}
button > div {
    display: inline-flex !important;
    padding-left: 10px;
    padding-right: 10px;
}
button:hover,  .collectiondiv:hover {
    box-shadow: 0 0 20px rgb(255, 255, 255);
        backdrop-filter: blur(20px);
    background-color:  rgba(255, 255, 255, 1);
    z-index: 1200;



}
button:hover > svg , button:hover > div > svg{
fill:rgba(253, 145, 0, 1);

}
button:hover > p ,button:hover > div > p ,  .collectiondiv:hover:has(p){
   color:rgba(253, 145, 0, 1);
  


}
@media only screen and (orientation: portrait) {
    body {padding-bottom: 35dvi;}
    h1 {
        font-size: 6dvw ;
    }
    .column {
    display: block;
}
.column > .content-div {
    width: unset;
}
    .navbar {
        padding: auto;
        display: flex;
        margin: 0.1rem;
        margin-bottom: 0.7rem;
        margin-left: auto;
        margin-right: auto;
        bottom: 0;
        position: fixed;
        left: 50%;
        transform: translateX(-50%);
        top:unset;
        z-index: 1000;
        border-radius: 2em;
     
    }
    .content-div {
        margin: 0.1rem;
        margin-bottom: 2em !important;
    }
    .navbar > button {
        border-radius: 2em !important;
         margin-left: 0.1rem;
          margin-left: 0.1rem;
          width:18vw;
        aspect-ratio: 1.2/1;
        padding: 2vw;
             
    }
    .navbar > button > p {
        font-size: 3vw;
    }
    #status {
        width: unset !important;
    }
}